* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e5e5e5;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  width: 60%;
  margin: 10px;
  transition-duration: 300ms;
}
.subtitle {
  font-size: 1rem;
}

.logo:hover {
  transform: rotate(-5deg);
}

nav {
  margin: 15px;
}

nav ul {
  list-style-type: none;
  padding: 0 30px;
  text-align: end;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  /* text-align: center; */
  color: #14213d;
  border-top: solid transparent 5px;
  font-size: 1rem;
}

nav a:hover {
  background-color: #fca311;
  border-top: solid white 5px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  margin-top: 50px;
  font-size: 10px;
}
.card {
  width: 300px;
  margin: 10px;
}

.product-image {
  border-radius: 10px 10px 0 0;
  width: 100%;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.product-desc {
  width: 95%;
  text-align: justify;
}
